
// Global Styles
@import 'import.import.less';

// Import Roboto Font // -----------------------------------

@import url(//fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700,700italic);


html,body {
  height: 100%;
  margin: 0;
  background-color: @color-bg-grey-darkest;
  font-family: 'RobotoDraft', sans-serif;
}

[unresolved] {
  opacity: 0;
  /* other custom styles for unresolved elements */
}

a {
  color: rgb(66, 133, 244);
  text-decoration: none;
}

core-scroll-header-panel {
  height: 100%;
}


.main {
  padding: 20px;
}

.link {
  cursor: pointer;
}

@media (min-width: 481px) {
  #tabs {
    width: 200px;
  }
  .container {
    width: 400px;
  }
}

core-header-panel {
  height: 100%;
  background-color: white;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

core-toolbar {
  background: #777;
  color: white;
}

#tabs {
  width: 100%;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: uppercase;
}

paper-toast {
  bottom: 40px;
  left: 10px;
}

di-button[raised] {
  line-height: 0.6;
}

di-button[raised].submit {
  background: #4285f4;
  color: #fff;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  text-align: center;
}

.center {
  margin: auto;
  text-align: center;
}

