<template name="layout">
    {{#if loading}} 

      <paper-spinner class="center" active></paper-spinner>

    {{else}}


      {{#if currentUser}}  
        
        <core-drawer-panel id="drawer-panel">

          {{> yield region='navbar'}}

          <core-header-panel main>
            <core-toolbar>
              <paper-icon-button core-drawer-toggle icon="menu"></paper-icon-button>
              <span flex>Polymer Test</span>
              {{!-- {{> atNavButton}} --}}
            </core-toolbar>
            
            <div class="main">
              {{> yield}}
              {{> yield region='footer'}}
            </div>
          </core-header-panel>

        </core-drawer-panel>
      
      {{else}}
      
        {{> fullPageAtForm}}
      
      {{/if}}

    {{/if}}
  
</template>

